a {
	outline: none;
}

img {
	max-width: 100%;
	height: auto;
}

// Pre-loader
.preloader {
	#page {
		opacity: 0;
	}

	#preloader {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 10000;
		opacity: 1;

		.progress {
			margin-top: 50%;
		}
	}
}

[class^="mdi-"], [class*="mdi-"] {
	position: relative;
	top: 1px;
}